* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto slab", 'Times New Roman', Times, serif;
    font-size: 70%;
    background-color: #f5f5f3;

}

.container {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 1 rem;
    gap: 2rem;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

header .logo-brand {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header .logo-brand .logo {
    width: auto;
    height: 3rem;
}

header .logo-brand .git-tag-line {
    font-size: 1.5rem;
}

header .controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .controls .search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

header .controls .search-bar i {
    position: absolute;
    left: 1rem;
}

header .controls input {
    width: 18rem;
    height: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    border: solid 2px rgb(39, 38, 38);
    box-shadow: rgb(98, 96, 96);
}

.theme-icon-button {
    border-radius: 60%;
    background-color: rgb(101, 96, 96);
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    transform: rotateY('180deg');
}

.hero-section {
    margin-bottom: 2em;
    background: url(https://git-scm.com//images/bg/isometric-grid.png) 100% 0 repeat;
    background-size: 35px 21px;
}

section .main-container {
    display: flex;
    align-items: center;
    padding: 2rem;
}

section .main-container .hero-text-area {
    position: relative;
    margin: 0 0 0 auto;
}

section .main-container .hero-text-area p {
    font-size: 1.3rem;
    color: var(--text-dark);
    line-height: 1.5;
}

section .main-container .hero-background-img {
    margin: 0 auto 0 0;
    width: 389px;
    height: 251px;
}

.main-content-area {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.inner-contents {
    display: flex;
    flex-direction: row;
    gap: 70px;
    flex-wrap: nowrap;
}

.contents-area {
    margin: 0 auto 0 auto;
}

.navigation-contents {
    border-right: 1px solid #ccc;
    padding: 0px 40px 0px 40px;
}

.navigation-contents nav {
    display: flex;
    flex-direction: column;

}

.navigation-contents nav .division1 img {
    filter: brightness(90%);
}

.navigation-contents nav .division1 img:hover {
    filter: brightness(70%);
}

.inner-contents .navigation-contents nav .row1 ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
}

.inner-contents .navigation-contents nav .row2 ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
}

.pro-git-book {
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
    line-height: 22px;
}

nav .row1 .division1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

nav .row1 .division1 img {
    width: 74px;
    height: 74px;
}

nav .row2 .division1 img {
    width: 74px;
    height: 74px;
}

nav .row2 .division1 {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

ul .division1 .description {
    line-height: 17.6px;
    font-size: 14px;

}

ul li a .division1 .description h2 {
    line-height: 1px;
    color: #F14E32;
    font-weight: 700;
    font-size: 18px;
}

ul li a .division1 .description p {
    font-size: 15px;
    line-height: 17.6px;
    color: #4E443C;
}